.lista{
	/*background-color:red;*/
	border: 2px solid blue;
	overflow: hidden; /*utilizo esta propiedad para evitar que mi contenedor colapse al utilizar float*/
}

li{
	float: left; /*acá dejo mi lista en forma orizontal*/
	margin: 30px;
}

.contenedor{
	/*background:blue;*/
	overflow: hidden;
}

h1{
	text-align: center;/*dejo centrado mi título*/
}

p{
	font-size: 20px;/*con font-soze le cambio en tamaño a mi tipografía*/
}

.img_1{
	float: left;/* dejo mi imagen flatando a la derecha*/
    margin: 0em 2em;
    border: 2px solid black;
}

.img_2{
	float: right;/* dejo mi imagen flatando a la izquerda para dejar mi texto en medio*/
    margin: 0em 2em;
    border: 2px solid black;
}


